<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/beiyong.css" rel="stylesheet"/>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div id="title">东沙</div>
    <div id="time">时间</div>
    <div id="l1">左1</div>
    <div id="l2">左2</div>
    <div id="c1">
        <div class="num"><h1>33333</h1></div>
        <div class="num"><h1>344444</h1></div>
        <div class="num"><h1>00000</h1></div>
        <div class="num"><h1>999999</h1></div>
        <div class="txt"><h2>data1</h2></div>
        <div class="txt"><h2>data2</h2></div>
        <div class="txt"><h2>data3</h2></div>
        <div class="txt"><h2>data4</h2></div>
    </div>
    <div id="c2">
        <img src="../static/img/dongsha.jpg">
    </div>
    <div id="r1">右1</div>
    <div id="r2">右2</div>
    <script></script>
</body>
</html>