<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>东沙</title>
    <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../static/js/bootstrap.min.js" type="text/css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
</head>
<body>
    <div class="container">
    <div id="title">东沙</div>
    <form action = "/dongsha" method="post">
        <div id="time"><input type="text" name="time" value="{{data['time']}}">
            <input class="btn btn-primary" type="submit" value="查询">
            <a href="/" style="text-decoration:none">
                <span class="btn btn-primary">返回主页</span>
            </a>
        </div>
    </form>
    </div>
<!--    地图流量计-->
    <div id="l1" style="width: 1270px;height: 710.750px;top: 12%;left: 0%;">
{#        东沙#}
        <div id="liuliangji" style="position: absolute;left: 60%;top: 10%;z-index: 999;color: red;font-size: large;">{{data['sll91830953']}}流入</div>
        <div id="liuliangji" style="position: absolute;left: 55%;top: 20%;z-index: 999;color: red;font-size: large;">{{data['sll3198']}}流入</div>
        <div id="liuliangji" style="position: absolute;left: 35%;top: 30%;z-index: 999;color: red;font-size: large;">{{data['sll69175303']}}流出</div>">
        <div id="liuliangji" style="position: absolute;left: 34%;top: 50%;z-index: 999;color: red;font-size: large;">{{data['sll3196']}}流出</div>
        <div id="liuliangji" style="position: absolute;left: 1%;top: 50%;z-index: 999;color: red;font-size: large;">{{data['sll3194']}}流出</div>
        <div id="liuliangji" style="position: absolute;left: 2%;top: 54%;z-index: 999;color: red;font-size: large;">{{data['sll3195']}}流出</div>
{#        南漖#}
        <div id="liuliangji" style="position: absolute;left: 30%;top: 73%;z-index: 999;color: red;font-size: large;">{{data['sll91830730']}}入村</div>
        <div id="liuliangji" style="position: absolute;left: 37%;top: 73%;z-index: 999;color: red;font-size: large;">{{data['sll91830729']}}入村</div>
        <div id="liuliangji" style="position: absolute;left: 25%;top: 95%;z-index: 999;color: red;font-size: large;">{{data['sll69983071']}}入村</div>
        <div id="liuliangji" style="position: absolute;left: 35%;top: 85%;z-index: 999;color: red;font-size: large;"><a href="/nanjiaocun?time={{data['time']}}">南漖村</a></div>
{#        沙洛#}

        <div id="liuliangji" style="position: absolute;left: 0px;top: 0px"><img style="z-index: 1;display: inline" src="../static/img/dongsha.jpg"></div>
    </div>
<!--    时间查询-->
    <div id="c1" style="width: 215px;height: auto;top: 12%;left: 1280px;">
        <form action = "/dongsha" method="post" role="form" class="form-horizontal">
                <input type="date" name="date" class="form-control" value="{{data['time'][0:10].replace("/", "-") }}">
                <select class="form-control" name="timepoint">
                    <option value="0:00">0:00</option>
                    <option value="1:00">1:00</option>
                    <option value="2:00">2:00</option>
                    <option value="3:00">3:00</option>
                    <option value="4:00">4:00</option>
                    <option value="5:00">5:00</option>
                    <option value="6:00">6:00</option>
                    <option value="7:00">7:00</option>
                    <option value="8:00">8:00</option>
                    <option value="9:00">9:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="12:00">12:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                    <option value="17:00">17:00</option>
                    <option value="18:00">18:00</option>
                    <option value="19:00">19:00</option>
                    <option value="20:00">20:00</option>
                    <option value="21:00">21:00</option>
                    <option value="22:00">22:00</option>
                    <option value="23:00">23:00</option>
                </select>
                <input type="hidden" name="time" value="dateandtimepoint">
                <input class="btn btn-primary" type="submit" value="查询">
        </form>
    </div>
<!-- 计算公式和饼图-->
    <div id="l2" STYLE="width: 1270px;height: auto;top: 820px;left: 0%;">
{#        <div class="txt"><h2>东沙流入-东沙流出-南漖=</h2></div>#}
{#        <div class="num"><h1>123456</h1></div>#}
        <div><span style="color: red">东沙流入</span>
            -<span style="color: #0a53be">东沙流出</span>
            -<span style="color: #ffcd39">流入南漖</span>
{#            -<span style="color: #1BDE04">流入电排站</span>#}
            =<span style="color: #d3d6d8">未统计水量</span>
        </div>
{#        注意原始数据是负的要变号!!!!!!!!!!!!!!!!!#}
        <div><span style="color: red">{{data['sll3198']}}</span>
             -<span style="color: #0a53be">({{data['sll69175303']}}+{{data['sll3194']}}+{{data['sll3196']}}+{{data['sll3195']}})</span>
            -<span style="color: #ffcd39">({{data['sll91830729']}}+{{data['sll91830730']}})</span>
{#            -<span style="color: #1BDE04">({{data['sll91830953']}})</span>#}
            =<span style="color: #d3d6d8">{{data['uncount']}}</span>
        </div>
        <div><span style="color: red">{{data['dongsha_in']}}</span>
            -<span style="color: #0a53be">{{data['dongsha_out']}}</span>
            -<span style="color: #ffcd39">{{data['nanjiao_in']}}</span>
{#            -<span style="color: #1BDE04">{{data['dianpaizhan_in']}}</span>#}
            =<span style="color: #d3d6d8">{{data['uncount']}}</span>
        </div>
    </div>
<!--    表格-->
    <div id="c2" style="width: 1270px;height:500px;top:900px;left: 0px;">
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('c2'));
            option = {
                backgroundColor: '#2c343c',

                title: {
                    text: 'Customized Pie',
                    left: 'center',
                    top: 20,
                    textStyle: {
                        color: '#ccc'
                    }
                },

                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },

                visualMap: {
                    show: false,
                    min: 80,
                    max: 600,
                    inRange: {
                        colorLightness: [0, 1]
                    }
                },
                series: [
                    {
                        name: '水量分布',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '50%'],
                        data: [
                            {value: {{data['dongsha_out']}}, name: '流出'},
                            {value: {{data['nanjiao_in']}}, name: '南漖'},
                            {value: {{data['uncount']}}, name: '未统计'}
                        ].sort(function (a, b) { return a.value - b.value; }),
                        roseType: 'radius',
                        label: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        labelLine: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        },
                        itemStyle: {
                            color: '#c23531',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        },

                        animationType: 'scale',
                        animationEasing: 'elasticOut',
                        animationDelay: function (idx) {
                            return Math.random() * 200;
                        }
                    }
                ]
            };
            myChart.setOption(option);
        </script>
    </div>
<!--    <div id="r1">右1</div>-->
<!--    <div id="r2">右2</div>-->
    <script></script>
</body>
</html>