<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container" style="left: 20%;">
        <h1>东沙</h1> <code class="codespan">收录 2020/02/15 0:00  - 最近</code>
        <br>
        <a href="/dongsha?time=2021/02/15 3:00" style="text-decoration:none">
            <span class="btn btn-primary">东沙</span>
        </a>
        <a href="/nanjiaocun?time=2021/02/15 3:00" style="text-decoration:none">
            <span class="btn btn-primary">南漖村</span>
        </a>
        <a href="/shaluocun?time=2021/02/15 3:00" style="text-decoration:none">
            <span class="btn btn-primary">沙洛村</span>
        </a>
        <a href="/yibanyuanchuanbiao?time=2021/02/15 3:00" style="text-decoration:none">
            <span class="btn btn-primary">大用户远传</span>
        </a>
    </div>
    <br/>
    <br/>
    <div class="container" style="left: 20%;">
        <h1>西塱</h1> <code class="codespan">收录 2020/02/01 0:00 - 最近</code>
        <br>
        <a href="/xilang?time=2021/02/15 3:00" style="text-decoration:none">
            <span class="btn btn-primary">西塱</span>
        </a>
    </div>
    <br/>
    <br/>
    <div class="container" style="left: 20%;">
        <h1>鹤洞闭环</h1> <code class="codespan">收录 2020/02/23 0:00 - 最近</code>
        <br>
        <a href="/hedong?time=2021/03/1 3:00" style="text-decoration:none">
            <span class="btn btn-primary">鹤洞闭环</span>
        </a>
    </div>
<!--   <a href="/dongsha?time=2020/12/24 6:00">东沙</a>-->
</body>
</html>
