<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container" style="left: 20%;">
        <h1>东沙</h1> <code class="codespan">收录 2020/12/12 0:00 - 2021/1/3 23:00</code>
        <br>
        <a href="/dongsha?time=2020/12/24 6:00" style="text-decoration:none">
            <span class="btn btn-primary">东沙</span>
        </a>
        <a href="/nanjiaocun?time=2020/12/24 6:00" style="text-decoration:none">
            <span class="btn btn-primary">南漖村</span>
        </a>
        <a href="/shaluocun?time=2020/12/24 6:00" style="text-decoration:none">
            <span class="btn btn-primary">沙洛村</span>
        </a>
    </div>
<!--   <a href="/dongsha?time=2020/12/24 6:00">东沙</a>-->
</body>
</html>