<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>沙洛村</title>
    <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../static/js/bootstrap.min.js" type="text/css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/jquery.min.js"></script>
</head>
<body>
    <div class="container">
    <div id="title">沙洛村</div>
    <form action = "/shaluocun" method="post">
        <div id="time"><input type="text" name="time" value="{{data['time']}}">
            <input class="btn btn-primary" type="submit" value="查询">
            <a href="/" style="text-decoration:none">
                <span class="btn btn-primary">返回主页</span>
            </a>
        </div>
    </form>
    </div>
<!--    地图流量计-->
    <div id="l1" style="width: 1270px;height: 710.750px;top: 12%;left: 0%;">
        <div id="liuliangji" style="position: absolute;left: 42%;top: 12%;z-index: 999;color: red;font-size: large;">{{data['sll91830456']}}入村</div>
        <div id="liuliangji" style="position: absolute;left: 63%;top: 12%;z-index: 999;color: red;font-size: large;">{{data['sll91830454']}}入村</div>
        <div id="liuliangji" style="position: absolute;left: 24%;top: 60%;z-index: 999;color: red;font-size: large;">{{data['sll91830455']}}入村</div>
        <div id="liuliangji" style="position: absolute;left: 0px;top: 0px"><img style="z-index: 1;display: inline" src="../static/img/shaluocun.jpg"></div>
    </div>
<!--    时间查询-->
    <div id="c1" style="width: 215px;height: auto;top: 12%;left: 1280px;">
        <form action = "/shaluocun" method="post" role="form" class="form-horizontal">
                <input type="date" name="date" class="form-control" value="{{data['time'][0:10].replace("/", "-") }}">
                <select class="form-control" name="timepoint">
                    <option value="0:00">0:00</option>
                    <option value="1:00">1:00</option>
                    <option value="2:00">2:00</option>
                    <option value="3:00">3:00</option>
                    <option value="4:00">4:00</option>
                    <option value="5:00">5:00</option>
                    <option value="6:00">6:00</option>
                    <option value="7:00">7:00</option>
                    <option value="8:00">8:00</option>
                    <option value="9:00">9:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="12:00">12:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                    <option value="17:00">17:00</option>
                    <option value="18:00">18:00</option>
                    <option value="19:00">19:00</option>
                    <option value="20:00">20:00</option>
                    <option value="21:00">21:00</option>
                    <option value="22:00">22:00</option>
                    <option value="23:00">23:00</option>
                </select>
                <input type="hidden" name="time" value="dateandtimepoint">
                <input class="btn btn-primary" type="submit" value="查询">
        </form>
    </div>
<!-- 计算公式和饼图-->
    <div id="l2" STYLE="width: 1270px;height: auto;top: 820px;left: 0%;">

    </div>
<!--    表格-->
    <div id="c2" style="width: 453px;height: auto;top:1300%;left: 0px;">

    </div>
<!--    <div id="r1">右1</div>-->
<!--    <div id="r2">右2</div>-->
    <script></script>
</body>
</html>